{% extends "_layouts/auth.njk" %}

{% block body %}
    <form action="/signin" method="POST">
        {% include "_partials/flash.njk" %}

        <img src="/images/logo.svg" height="42"/>

        <input type="email" name="email" placeholder="Endereço de E-mail"/>
        <input type="password" name="password" placeholder="Senha secreta"/>

        <button type="submit">Entrar</button>

        <a href="/signup">Criar uma nova conta</a>
    </form>
{% endblock %}

